*{

    box-sizing: border-box;

}

body{

    margin: 0px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin-bottom: 500px;

}

header{

    background-color: #17e31c;

}

.container{

    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.header{

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-area{

    display: flex;
    flex-direction: row;
    align-items: center;


}

.header-logo{

    height: 50px;

}

.header-title, .header-contact{

    color: white;

}

.header-title{

    margin-left: 15px;
    font-size: 1.5rem;

}

.header-contact{

    margin-left: auto;

}

.main{

    text-align: center;

}

.giveaway{

    text-align: start;
    background-color: #eaebf0;
    padding: 5px 20px 20px 20px;

}

.textArea{

    overflow: hidden;
    resize: none;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;

}

.grid-layout{

    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-item{

    display: flex;
    flex-direction: column;

}

.form-label{

    margin-bottom: 5px;

}

.form-input{

    height: 42px;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 1.25rem;

}

.form-button{

    width: 100%;
    height: 42px;
    border: 1px solid white;
    background-color: #17e31c;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;

}

button:active{

    transform: scale(0.99);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);

}